@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  color: rgb(198, 198, 198);
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(29, 29, 29);
  padding: 1rem;
}

.container {
  text-align: center;
  display: grid;
  place-items: center;
}

.container h2 {
  font-size: 2rem;
}

.container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .nav a {
  box-sizing: border-box;
  min-width: 180px;
  min-height: 140px;
  flex-basis: 15%;
  padding: 20px;
  background-color: hsl(218, 44%, 22%);
  margin: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border-bottom: 5px solid hsl(217, 64%, 21%);
}
.container .nav a:hover {
  transform: scale(1.1);
  transition: 400ms;
}

a img {
  margin-top: -10px;
}
