@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  color: white;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  background-color: #1f100e;
  padding: 1rem;
}

.container {
  text-align: center;
  display: grid;
  place-items: center;
}

.container h2 {
  font-size: 2rem;
}

.container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .nav a {
  box-sizing: border-box;
  flex-basis: 15%;
  min-width: 180px;
  min-height: 130px;
  padding: 1rem;
  background-color: #a8554d;
  margin: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  border-bottom: 5px solid #743a35;
  transition: 400ms;
}
.container .nav a:hover {
  transform: scale(1.1);
}

a img {
  margin-top: -10px;
}
