@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: #1f100e;
  padding: 1rem;
}

.container {
  display: grid;
  place-items: center;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 15px;
}

.container > * {
  margin-top: 1.5rem;
}

.container .formula {
  display: flex;
  align-items: center;
}

.container .formula h3 {
  font-size: 1rem;
}

.container .formula input {
  width: 5rem;
  background-color: transparent;
  border: none;
  text-align: center;
}
.container .formula input[type="number"]:focus {
  outline: none;
  border: none;
}
.container .formula input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container button {
  background-color: #a8554d;
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid #743a35;
  padding: 1rem 2rem;
  margin-top: 3rem;
  transition: 400ms;
}
.container button:hover {
  transform: scale(1.1);
}
